@model MeetUp.Models.Users;
@{
    Layout = null;
}

<!DOCTYPE html>
<html5>
    <head>
        <title>Register Now</title>
        <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
        <link href="~/css/signup.css" rel="stylesheet" />
    </head>

    <body>
        <div class="logo">
            <a href="@Url.Action("Index","Home")"><img src="~/img/Logo.png"></a>
        </div>
        <div class="box_main">
            <div class="corner">
                <img src="~/img/corner.png">S
            </div>
            <div class="container">
                <div class="banner">
                    <div class="heading_txt">
                        <span class="txt_get_your">Get your </span>
                        <span class="txt_appointment">Appointment</span>
                        <span class="txt_now">Now...</span>
                    </div>
                    <div class="img_box"></div>
                </div>
                <div class="form_box">
                    <form class="input_form" method="post" asp-action="Register">
                        <div class="intro">
                            <span class="form_heading">Register now</span>
                            <p class="form_desc">Give your information for register.</p>
                        </div>
                        <div class="input_box">                            
                            @Html.TextBoxFor(m => m.FName, new { @class = "input_fName", @type="text", @placeholder = "First Name"});
                            <div class="error_text">
                                <span asp-validation-for="FName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="input_box">                            
                            @Html.TextBoxFor(m => m.LName, new { @class = "input_lName", @type="text", @placeholder = "Last Name"});
                            <div class="error_text">
                                <span asp-validation-for="LName" style="color:red"></span>
                            </div>
                        </div>
                        <div class="input_box">                            
                            @Html.TextBoxFor(m => m.Email, new { @class = "input_email", @type="text", @placeholder = "Enter Email"});
                            <div class="error_text">
                                <span asp-validation-for="Email" style="color:red"></span>
                            </div>
                        </div>
                        <div class="input_box">                            
                            @Html.TextBoxFor(m => m.Password, new { @class = "input_password", @type="password", @placeholder = "Enter Password"});
                            <div class="error_text">
                                <span asp-validation-for="Password" style="color:red"></span>
                            </div> 
                        </div>
                        <div class="input_box">                            
                            @Html.TextBoxFor(m => m.CNFPassword, new { @class = "input_cPassword", @type="password", @placeholder = "Enter Confirm Password"});
                            <div class="error_text">
                                <span asp-validation-for="CNFPassword" style="color:red"></span>
                            </div>
                        </div>
                        <div class="btn_box">
                            <button type="submit" class="register_btn" value="SUBMIT" id="register_btn">Register</button>
                        </div>
                        <div class="txt_have_acc">
                        </div>
                        <div class="footer">
                            <p>Already have an account ?</p>
                            <a class="footer_txt_login" href="@Url.Action("Login", "User")">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.js"></script>
    </body>

@section scripts{
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");}
}
