@*@model IEnumerable<MeetUp.Models.Faculty>;*@
@model MeetUp.AccessModel;
@{
    ViewData["Title"] = "Meet UP";
}

<!-- start banner section -->

<section class="head-banner">
    <div class="head-container">
        <div class="head-row">
            <div class="col-head-banner top-intro">
                <div class="intro-box">
                    <h1>MEET UP</h1>
                    <div class="app-desc">
                        <p>
                            A online platform where user can meet or book an appointment to whom ever they want to meet. Schedule
                            your appointment in minutes...
                        </p>
                    </div>
                    <div class="booking-btn-box">
                        <button class="booking-btn" id="booking_btn">Book Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col-head-banner top-banner">
                <div class="banner-box banner-bg">
                    <img src="~/img/appointment_pic.png" alt="Banner" class="banner-img">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end banner section -->

<!-- start section-2 -->

<section class="section-2">
    <div class="sec2-container">
        <div class="emp-head-box">
            <div class="sec2-head">
                <h1>Need an appointment ?</h1>
            </div>
        </div>
        <div class="sec2-row">
            <div class="col-sec2 line-border">
                <div class="sec2-img-box">
                    <img src="~/img/appointment .png" alt="Schedule Appointment" class="sec2-img">
                </div>
            </div>
            <div class="col-sec2">
                <div class="sec2-txtbox">
                    <div class="step-head">
                        <span>Follow the steps :</span>
                    </div>
                    <div class="sec2-steps">
                        <ul>
                            <li>Verify yourself using mobile no.</li>
                            <li>Choose Department/Management. </li>
                            <li>Select Date of Appointment.</li>
                            <li>Explain, Why theme of the meeting.</li>
                            <li>Get confirmation on mail...!!</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*style for faculty details start*@


@*style for faculty details end*@

<!-- end section-2 -->

<!-- start emp section -->

<section class="emp-sec">
    <div class="container">
        <div class="emp-head-box">
            <div class="emp-head">
                <h1>Meet with</h1>
            </div>
        </div>
        <div class="row">
            @if (Model.Faculty.Count() > 0)
            {
                @foreach(var d in Model.Faculty)
                {
                    <div class="col-md-4">
                        <div class="border-box"></div>
                        <div class="emp-box">
                            <div class="img-box">
                                <img src="@d.profileUrl" alt="Dr. Amit Lathigara">
                            </div>
                            <div class="name-box">
                                <span><b>@d.name</b></span>
                            </div>
                            <div class="desc-box">
                                <span>@d.designation</span>
                                <span>@d.school</span>
                                <span>@d.institute</span>
                                <span>@d.place</span>
                                    <!-- Button trigger modal start -->
                                <button type="button" class="details-btn" data-bs-toggle="modal" data-bs-target="#@d.id" style="color: #FF7B36;">
                                    See Details
                                </button>
                                    <!-- Button trigger modal end -->
                            </div>
                        </div>

                    </div>
                   
                }
            }
            else
            {
                <tr class="container">
                    <td colspan="4"><h2 class="text-warning bg-info">No Record</h2></td>
                </tr>
            }
            
        </div>
    </div>
</section>

<!-- end emp section -->
<!-- start section 4 -->

<section class="section-4">
    <div class="head-container">
        <div class="head-row">
            <div class="col-head-banner footer-left-bg">
                <div class="schedule-head">
                    <h1>Schedule your appointment in minutes?</h1>
                    <div class="app-desc">
                        <p>The way to get started is to quit talking and being doing.</p>
                        <p>Get your appointment booked.</p>
                    </div>
                    <div class="booking-btn-box">
                        <button class="booking-btn" id="booking_btn1">Get Appointment</button>
                    </div>
                </div>
            </div>
            <div class="col-head-banner top-banner footer-bg">
                <div class="banner-box">
                    <img src="~/img/appointment-booking.png" alt="Banner" class="footer-img">
                </div>
            </div>
        </div>
    </div>
</section>

    <body>
        <style>
            *{
            margin: 0;
            padding: 0;
            }

            body1 {
            display: flex;
            justify-content: center;
            align-content: center;
            font-family: "Istok Web";
            }

            .main1 {
            margin-top: 2%;
            background-color: #86BFBA;
            border-radius: 30px;
            border: 2px solid #1C4F49;
            }

            .close_btn1 {
            height: 40px;
            width: 40px;
            float: right;
            background-color:  #86BFBA;
            border: none;
            margin-top: 20px;
            margin-right: 20px;
            cursor: pointer;
            }

            .close_btn1 img {
            height: 40px;
            width: 40px;
            }

            .emp-name1 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 40px;
            margin-left: 35px;
            }

            .emp-designation1 {
            font-size: 20px;
            margin-left: 35px;
            }

            .container1 {
            margin: 20px;
            }

            .details-tbl1 {
            border: 2px solid #1C4F49;
            width: 100%;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            text-align:center;
            padding: none;
            margin: 0px;
            }

            .tbl-head1 {
            width: 100%;
            font-size: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            color: #fff;
            background-color: #1C4F49;
            overflow: hidden;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            }

            .details-tbl1 tr {
            height: 40px;
            }

            .td-11 {
            background-color: #1c4f493c;
            width: 200px;
            }

            .details-tbl1 td {
            border-top: 1px solid #1C4F49;
            text-align: left;
            padding-left: 5px;
            }
        </style>
    </body>
@if (Model.Faculty.Count() > 0)
{
    @foreach (var d in Model.Faculty)
    {
        <div class="modal fade" id="@d.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        @*<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>*@

                        @*<button class="close_btn">
                                <img src="./images/close.png" alt="">
                            </button>*@

                    </div>
                    <div class="main1">
                        <button type="button" class="close_btn1" data-bs-dismiss="modal" aria-label="Close">
                            <img src="~/img/close.png" alt="">
                        </button>
                        @* <div class="modal-body">*@
                        <div class="emp-name1">
                            <span>@d.name</span>
                        </div>
                        <div class="emp-designation1">
                            <span>@d.designation</span>
                        </div>
                        <div class="container1">
                            <div class="tbl-head1">Details</div>
                            <table class="details-tbl1">
                                @* <tr>
                                            <td style="color:white; font-size:20px; text-align:center; background-color:#1C4F49">Details</td>
                                        </tr>*@
                                <tr>
                                    <td class="td-11">
                                        Department
                                    </td>
                                    <td>
                                        @d.department
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-11">
                                        Teaching Experience
                                    </td>
                                    <td>
                                        @d.teachingExperience
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-11">
                                        Industrial Experience
                                    </td>
                                    <td>
                                        @d.industrialExperience
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-11">
                                        Total Experience
                                    </td>
                                    <td>
                                        @d.totalExperience
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-11">
                                        Qualification
                                    </td>
                                    <td>
                                        @d.qualification
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-11">
                                        Specialization
                                    </td>
                                    <td>
                                        @d.specification
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-11">
                                        Known For
                                    </td>
                                    <td>
                                        @d.knownFor
                                    </td>
                                </tr>
                            </table>
                        </div>
                        @*</div>*@
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    }
}
@*}*@
            <!-- Button trigger modal control end -->


            <!-- Modal popup Chat popup start -->
<body>
    @*@Html.Partial("_PopUpPartial",Model.Chat);*@
    <partial name="./_PopUpPartial.cshtml"/>
</body>
            <!-- Modal popup Chat popup end -->








