<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Itim&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Istok Web" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

        @*Header content start*@

        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/img/logo.png" alt="MeetUp Logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Book Appointment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About Us</a>
                            </li>
                        </ul>
                        <div class="d-flex" role="search" runat="server">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">
                                <img src="~/img/search_icon.png"
                                     class="search_icon">
                            </button>
                        </div>
                        <div>
                               @*<button class="login_btn" id="login_btn" runat="server" onclick="btn_login">Login</button>*@
@*                            <asp:Button ID="login_button" class="login_btn" runat="server" Text="Logout" OnClick="login_btn_Click" />
*@                        </div>
                    </div>
                </div>
            </nav>
        </header>

        @*Header content end*@

        @*main content start*@

            <main role="main">
                @RenderBody()
            </main>


        @*main content end*@


        @*footer content start*@

        <footer>
            <div class="footer-container">
                <div class="footer-row">
                    <div class="footer-col">
                    <a href="@Url.Action("Index", "Home")"><img src="~/img/logo.png" alt="MeetUp Logo"></a>
                        <p>
                            A online platform where user can meet or book an appointment to whom ever they want to meet. They can
                            schedule their meeting and get the confirmation on their mail.
                        </p>
                    </div>
                    <div class="footer-col contact-col">
                        <div class="footer-email">
                            <h3 class="footer-h3">Email</h3>
                        </div>
                        <ul>
                        <li class="social-icon-1"><a href="mailto:eshikat355@rku.ac.in ? {subject} = {subject}" class="email-link">eshikat355@rku.ac.in</a></li>
                        <li class="social-icon-1"><a href="mailto:bkumarsah627@rku.ac.in ? {subject} = {subject}" class="email-link">bkumarsah627@rku.ac.in</a></li>
                        </ul>
                        <div class="footer-follow-us">
                            <h3 class="footer-h3">Follow Us</h3>
                        </div>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <img src="~/img/github_icon.png" alt="Github Icon"
                                        style="height: 26px; width:26px;" class="social-icon-1">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/img/instagram_icon.png" alt="Instagram Icon"
                                          style="height: 26px; width:26px;">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/img/facebook_icon.png" alt="Facebook Icon"
                                          style="height: 26px; width:26px;">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-container con-2">
                <div class="footer-row row-2">
                    <div class="footer-col copy-col">
                        <p class="copyright">Copyright &copy 2023 MeetUp Team (<a href="https://www.linkedin.com/in/bibek-sah-b81b351a7/">Bibek</a> & <a href="https://www.linkedin.com/in/eftakhar-mahmud-shikat-3b0920144/">Shikat</a>)</p>
                    </div>
                    <div class="footer-col nav-col">
                        <nav class="footer-nav">
                            <ul class="">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Home</a>
                                </li>
                                <li>
                                    <img src="~/img/line_icon.png" style="height: 20px;">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Profile</a>
                                </li>
                                <li>
                                <img src="~/img/line_icon.png" style="height: 20px;">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Book Appointment</a>
                                </li>
                                <li>
                                <img src="~/img/line_icon.png" style="height: 20px;">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About Us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </footer>

        @*footer content end*@
    <script src="~/js/style.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MeetUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MeetUp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MeetUp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MeetUp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
*@